{% extends "layout.html" %}

{% block body %}

		<h2>Vizualization 1</h2><br>   
      <table border = 1>
         
         
            <tr>
               <th> Click:    </th>
               <td> {{ session['data1']['click'] }} </td>
            </tr>

            <tr>
               <th> Time:     </th>
               <td> {{ session['data1']['time']  }} </td>
            </tr>
            <tr>
               <th> Started:    </th>
               <td> {{ session['data1']['start_time'] }} </td>
            </tr>

            <tr>
               <th> Ended:     </th>
               <td> {{ session['data1']['end_time']  }} </td>
            </tr>            
	  </table>
		<br><br><br>
		<h2>Vizualization 2</h2><br> 
      <table border = 1>
         
         
            <tr>
               <th> Click:    </th>
               <td> {{ session['data2']['click'] }} </td>
            </tr>

            <tr>
               <th> Time:     </th>
               <td> {{ session['data2']['time']  }} </td>
            </tr>
            <tr>
               <th> Started:    </th>
               <td> {{ session['data2']['start_time'] }} </td>
            </tr>

            <tr>
               <th> Ended:     </th>
               <td> {{ session['data2']['end_time']  }} </td>
            </tr>             
	  </table>                                


		<br><br><br>
		<h2>Vizualization 3</h2><br> 
      <table border = 1>
         
         
            <tr>
               <th> Click:    </th>
               <td> {{ session['data3']['click'] }} </td>
            </tr>

            <tr>
               <th> Time:     </th>
               <td> {{ session['data3']['time']  }} </td>
            </tr>
            <tr>
               <th> Started:    </th>
               <td> {{ session['data3']['start_time'] }} </td>
            </tr>

            <tr>
               <th> Ended:     </th>
               <td> {{ session['data3']['end_time']  }} </td>
            </tr>             
	  </table>          
 
 
 		<br><br><br>
		<h2>Vizualization 4</h2><br> 
      <table border = 1>
         
         
            <tr>
               <th> Click:    </th>
               <td> {{ session['data4']['click'] }} </td>
            </tr>

            <tr>
               <th> Time:     </th>
               <td> {{ session['data4']['time']  }} </td>
            </tr>
            <tr>
               <th> Started:    </th>
               <td> {{ session['data4']['start_time'] }} </td>
            </tr>

            <tr>
               <th> Ended:     </th>
               <td> {{ session['data4']['end_time']  }} </td>
            </tr>             
	  </table>      
      

 <ul class="entries">
  {% for entry in entries %}
    <li><h2>{{ entry.title }}</h2><h3> by {{ entry.author }} about {{ entry.page }}</h3>{{ entry.text|safe }}</li>
  {% else %}
    <li><em>There is no entry.</em></li>
  {% endfor %}
  </ul>  
  
     <form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
      <dl>
      	<dt>Title:
        <dd><input type="text" size="30" name="title">
        <dt>Text:
        <dd><textarea name="text" rows="5" cols="40"></textarea>
        <dd><input type="submit" value="Share">
      </dl>
    </form> 
{% endblock %}