{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('viz_tour') }}" method="get" class="viz_tour">
    	<dd><input type="submit" value="Start Visualization Tour!">
    </form>
    <form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
      <dl>
      	<dt>Title:
        <dd><input type="text" size="30" name="title">
        <dt>Text:
        <dd><textarea name="text" rows="5" cols="40"></textarea>
        <dd><input type="submit" value="Share">
      </dl>
    </form>
  {% endif %}
  <ul class="entries">
  {% for entry in entries %}
    <li><h2>{{ entry.title }}</h2><h3> by {{ entry.author }}</h3>{{ entry.text|safe }}</li>
  {% else %}
    <li><em>There is no entry.</em></li>
  {% endfor %}
  </ul>
{% endblock %}
